<div>
    <h2 id="page-heading">
        <span>Medical Histories</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medical-history" [routerLink]="['/medical-history/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Medical History
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="medicalHistories?.length === 0">
        <span>No medicalHistories found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="medicalHistories && medicalHistories.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="joinedAt"><span>Joined At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="leavedAt"><span>Leaved At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="totalPrice"><span>Total Price</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medicalHistory of medicalHistories ;trackBy: trackId">
                    <td><a [routerLink]="['/medical-history', medicalHistory.id, 'view']">{{ medicalHistory.id }}</a></td>
                    <td>{{ medicalHistory.joinedAt | date:'medium' }}</td>
                    <td>{{ medicalHistory.leavedAt | date:'medium' }}</td>
                    <td>{{ medicalHistory.totalPrice }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/medical-history', medicalHistory.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/medical-history', medicalHistory.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(medicalHistory)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="medicalHistories && medicalHistories.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
